.flex-column {
  background-color: rgb(198, 198, 198);
}

.main-content {
  margin: auto;
  max-width: 800px;
}

.intro {
  text-align: center;
  margin-top: 2rem;
}

.intro-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.intro-text {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #333;
  margin-bottom: 1.5rem;
}

.intro-link {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.intro-link:hover {
  background-color: #388e3c;
}

.profile-image {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.header-name {
  font-size: 1rem;
  font-family: "Brush Script MT";
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background: linear-gradient(to bottom, #f0f0f0, #939393);
  opacity: 0.7;
  z-index: -1;
  text-align: center;
  border-bottom: 2px solid #888787;
  margin-top: 0%;
}

.header-name1 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  z-index: -1;
  text-align: left;
  margin-left: 115px;
  text-shadow: 1px 1px 1px #888787;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.1;
  display: none;
}

.name-image-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-left: 1%;
  margin-top: 20px;
  text-shadow: 1px 1px 1px #888787;
  opacity: 0.7;
  z-index: -1;
  position: relative;
}

.name-image {
  max-width: 35%;
  max-height: 100%;
  margin-left: -51%;
  margin-top: 10px;
}

.hdcontainer {
  align-items: center;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-style: oblique;
  margin-left: 20px;
}

.nav-link:hover {
  transform: scale(1.05);
  filter: brightness(1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
}

.header-tag {
  font-size: 12px;
  font-weight: 700;
  font-family: "Brush Script MT";
  align-items: center;
  text-align: right;
  position: relative;
  margin-right: 6px;
  color: rgb(211, 209, 209);
  text-shadow: #e0e0e0;
  margin-bottom: 0px;
}
.intro-text {
  font-size: 15px;
  background-color: rgba(253, 253, 253, 0.95);
  border-radius: 10px;
}
h6 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h4 {
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 60px;
  font-style: oblique;
  justify-content: center;
}

.resume-container {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.resume-container h1 {
  margin-bottom: 20px;
}

.resume-container .download-link {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.resume-container .download-link:hover {
  background-color: #0056b3;
}

.resume-container .proficiencies-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resume-container .proficiencies-list li {
  margin: 10px 20px;
  padding: 5px 10px;
  background-color: #e0e0e0;
  border-radius: 4px;
}

.resume-image {
  width: 100%;
  max-width: 100%;
  margin-left: 100px;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.nav-link.active {
  font-weight: bold;
  color: #3c14b2;
}

.projects {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.projects img {
  width: 100%;
  height: 137.13px;
  margin: 10px 0;
}

@media (max-width: 1024px) {
  .projects {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

@media (max-width: 768px) {
  .projects {
    width: 95%;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

@media (max-width: 480px) {
  .projects {
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    padding: 0 10px;
  }
}

.projects img {
  width: 100%;
  height: 137.13px;
  margin: 10px 0;
}

@media (max-width: 1024px) {
  .projects img {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .projects img {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .projects img {
    width: 100%;
    margin: 5px 0;
  }
}

.project-details .button {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 8px;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .project-details .button {
    padding: 7px 14px;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .project-details .button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .project-details .button {
    padding: 5px 10px;
  }
}

.project-details .button:hover {
  background-color: #0056b3;
}

.navbar {
  background: linear-gradient(to bottom, #f0f0f0, #939393);
  border-bottom: 2px solid #888787;
}

.lf h4 {
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

.btn {
  background: linear-gradient(to bottom, #f0f0f0, #939393);
}

.logo-image {
  height: 55px;
  width: 80px;
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background-color: transparent;
}

.intro-title {
  text-shadow: #f4f4f4;
}

h3 {
  font-size: 1rem;
  font-family: "Copperplate";
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background: linear-gradient(to bottom, #f0f0f0, #939393);
  opacity: 0.7;
  z-index: -1;
  text-align: center;
  border-bottom: 2px solid #888787;
  margin-top: 0%;
}

.proj-head {
  font-size: 1rem;
  font-family: "Impact";
  justify-content: center;
  align-items: center;
  color: rgb(95, 94, 94);
  opacity: 0.7;
  z-index: -1;
  text-align: left;
  margin-top: 1%;
  margin-left: 6%;
}

.project-page-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.project-list {
  flex: 3;
  margin-right: 20px;
}

.project-card h3 {
  color: #f0eeee;
  font-size: 1.5rem;
}

.repo-column {
  flex: 1;
  border-left: 1px solid #ccc;
  padding-left: 20px;
  position: absolute;
  width: 180px; /* Base width for larger screens */
  top: 154px; /* Base position for larger screens */
  right: 15px;
  z-index: 999;
}

/* Medium screens (e.g., tablets) */
@media (max-width: 1024px) {
  .repo-column {
    width: 150px; /* Adjust width for medium screens */
    top: 140px; /* Adjust position for medium screens */
  }
}

/* Small screens (e.g., mobile) */
@media (max-width: 768px) {
  .repo-column {
    width: 120px; /* Adjust width for small screens */
    top: 120px; /* Adjust position for small screens */
    right: 10px; /* Adjust horizontal position if needed */
    padding-left: 10px; /* Reduce padding for smaller screens */
  }
}

/* Extra small screens (e.g., very small mobile devices) */
@media (max-width: 480px) {
  .repo-column {
    width: 100px; /* Further adjust width for extra small screens */
    top: 100px; /* Further adjust position for extra small screens */
    right: 5px; /* Further adjust horizontal position if needed */
    padding-left: 5px; /* Further reduce padding */
  }
}

.repo-column h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.repo-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.repo-link-button {
  background: linear-gradient(to bottom, #f0f0f0, #939393);
  border: 1px solid #ccc;
  padding: 10px;
  color: #f0eeee;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
  font-family: "Copperplate";
}

.repo-link-button:hover {
  background: linear-gradient(to bottom, #e0e0e0, #828282);
  transform: scale(1.05);
}

.repo {
  font-size: 1rem;
  font-family: "Impact";
  justify-content: center;
  align-items: center;
  color: rgb(95, 94, 94);
  opacity: 0.7;
  z-index: -1;
  text-align: left;
  margin-top: 1%;
  margin-bottom: 6px;
}

.contact-header {
  font-size: 1rem;
  font-family: "Impact";
  justify-content: center;
  align-items: center;
  color: rgb(95, 94, 94);
  opacity: 0.7;
  z-index: -1;
  text-align: left;
  margin-top: 1%;
  margin-bottom: 10px;
}

.cont-name {
  position: relative;
  top: 0px;
  left: 15px;
  z-index: 999;
}

.cont-email {
  position: relative;
  top: 10px;
  left: 15px;
  z-index: 999;
}

.cont-mess {
  position: relative;
  top: 18px;
  left: 20px;
  z-index: 999;
}

.submit-button {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.submit-button:hover {
  filter: brightness(1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#name,
#email {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#message {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.click-here {
  font-size: 0.6rem;
  font-family: "Impact";
  color: rgb(95, 94, 94);
  opacity: 0.7;
  z-index: -1;
  position: absolute;
  top: 393px;
  left: 30px;
  z-index: 999;
}

.project-card img:hover {
  transform: scale(1.05);
  filter: brightness(1.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.project-card:hover h3 {
  filter: brightness(1.1);
}

.emoji-link {
  position: absolute;
  top: 10px;
  left: 85%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  text-decoration: none;
  transition: transform 0.2s;
  color: inherit;
  z-index: 1000;
}

.emoji-link:hover {
  transform: scale(1.2);
  color: #ff4500;
}

/* .footer {
  margin-bottom: 0%;
} */

.open-game-button {
  position: fixed;
  left: 2px; /* Adjust as per your design */
  top: 50%; /* Center vertically relative to the viewport */
  transform: translateY(
    -50%
  ); /* Adjusts vertically by half of its own height */
  z-index: 1000; /* Ensure it's above other content */
  background-color: #036cdcc3;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  font-size: small;
  width: 80px;
  height: 44px;
  display: flex; /* Center the text horizontally and vertically */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  border-radius: 3px;
}

.open-game-button:hover {
  background-color: #004aad; /* Darker blue on hover */
}

.open-game-button:focus {
  outline: none; /* Optional: Remove default focus outline */
}

.game-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Ensure it's above the overlay */
}

.game-content {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 80%;
  max-height: 600px;
  background-color: white;
  padding: 40px;
}

.close-game-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 5px 10px; /* Adjust padding as needed */
  border: 2px solid #888888; /* Grey outline */
  cursor: pointer;
  font-size: 1rem; /* Adjust font size as needed */
  line-height: 1; /* Ensures the text is vertically centered */
  border-radius: 7px;
}

.close-game-button:focus {
  outline: none; /* Optional: Remove default focus outline */
}

.close-game-button:hover {
  border-color: #555555; /* Darker grey on hover */
  background-color: #1466be80;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.Git-btn {
  background: linear-gradient(to bottom, #f0f0f0, #939393);
  color: rgb(0, 0, 0);
  border-radius: 4px;
  border-color: white;
}

.Link-btn {
  background: linear-gradient(to bottom, #f0f0f0, #939393);
  color: rgb(0, 0, 0);
  border-radius: 4px;
  border-color: white;
}

.Prod-btn {
  background: linear-gradient(to bottom, #f0f0f0, #939393);
  color: rgb(0, 0, 0);
  border-radius: 4px;
  border-color: white;
}

.Git-btn:hover {
  background-color: #cccccc;
  color: #000000;
  transform: scale(1.05); /* Optional: Adds a slight scale effect on hover */
}

.Link-btn:hover {
  background-color: #cccccc;
  color: #000000;
  transform: scale(1.05); /* Optional: Adds a slight scale effect on hover */
}

.Prod-btn:hover {
  background-color: #cccccc;
  color: #000000;
  transform: scale(1.05); /* Optional: Adds a slight scale effect on hover */
}
